* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#flipbook {
    cursor: grab;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

#flipbook:active:hover {
    cursor: grabbing;
}

.page {
    background-color: white;
}